<!-- <nav>
    <a routerLink="/doctor" routerLinkActive="active">Home</a>
    <a routerLink="/doctor/patients" routerLinkActive="active">Patients</a>
    <a routerLink="/doctor/appointments" routerLinkActive="active">Appointments</a>
    <a routerLink="/doctor/xrays" routerLinkActive="active">X-Ray Upload</a>
</nav> -->
<nav>
  <div class="logo">Dentist Dashboard</div>
  <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
  <div class="nav-links" [ngClass]="{'nav-active': menuOpen}">
    <a routerLink="/doctor/home" routerLinkActive="active">Home</a>
    <a routerLink="/doctor/patients" routerLinkActive="active">Patients</a>
    <a routerLink="/doctor/appointments" routerLinkActive="active">Appointments</a>
    <a routerLink="/doctor/xrays" routerLinkActive="active">X-Ray Upload</a>
  </div>
</nav>