<nav class="navbar">
  <div class="navbar-brand">
    <a class="logo">Dentist Dashboard</a>
  </div>
  <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
  <ul class="nav-links" [ngClass]="{'nav-active': menuOpen}">
    <li><a routerLink="/">Home</a></li> 
    <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>  
    <li *ngIf="isLoggedIn"><a routerLink="/doctor/patients">Patients</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/doctor/appointments" [queryParams]="{ schedule: 'true'}">Appointments</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/doctor/xrays">X-Ray Upload</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
  </ul>  
</nav>
